body {
    background-color: rgb(182, 182, 182);
    font-family: Arial, Helvetica, sans-serif;
}

div {
    box-sizing: border-box;
}

div h1 {
    margin-top: 0;
}

button {
    font-size: 1em;
    padding: 8px;
}

.ideas {
    background-color: #CCC;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.tips {
    background-color: #CCC;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}